* {
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
}

.group.main {
    flex:2;
    widows: 100px !important;
    text-align: center;
}

.button {
    color:#333;
    background: #333;
    height: 57px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    margin: 0 0 0 0px;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background: #adadad;
    color: black;
}

.icon {
    width: 24px;
    height: 24px; 
    flex: 2;
    cursor: pointer;
    outline: none;
    fill: white;
}

.icon:hover {
    fill: black;
}